@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

@layer utilities {
  .mask {
    position: absolute;
    mask-image: url('./assets/mask.svg');
    background: #FFC56F;
    mask-repeat: no-repeat;
    mask-size: 40px;
    mask-origin: content-box;
    width: 100%;
    color: #000000
  }
}
